
body {
    padding: 0;
    margin: 0;
  }
  
  .footer-top {
    background-color: #2b3a55;
    color: #fff;
    margin-bottom: 4%;
  }
  
  h1 {
    padding: 2% 0 3% 2%;
  }
  
  .columns {
    padding: 0 10% 0 10%;
  }
  
  .footer-bottom {
    margin: 0;
    padding: 0 5% 0;
    color: #fff;
  }
  
  .footer {
    background-color: #181d31;
    color: #fff;
    padding-bottom: 1%;
  }
  
  .social-media-icons {
    text-align: center;
  }
  
  .fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2% 0.3%;
    border-radius: 100%;
  }
  
  .fa:hover {
    opacity: 0.7;
    color: #fff;
  }
  
  .fa-facebook {
    background: #3b5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55acee;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  copyright {
    text-align: center;
  }
  
  .map {
    border-radius: 10px;
  }
  
  .footer-cols {
    padding-bottom: 30px;
  }
  
